---
import type { GalleryProps as Props } from "@/content/static";
import apartment_gallery_1 from "@/content/apartments_gallery_1.jpeg"
import apartment_gallery_2 from "@/content/apartments_gallery_2.avif"
import apartment_gallery_3 from "@/content/apartments_gallery_3.webp"
import apartment_gallery_4 from "@/content/apartments_gallery_4.jpeg"

const images = [apartment_gallery_1, apartment_gallery_2, apartment_gallery_3, apartment_gallery_4]

import { getImage } from 'astro:assets';
const imagesAttrs = await Promise.all(images.map(async (image) => {
  const imageAttrs = await getImage({
    src: image,
    alt: "",
    width: 800,
    height: 800,
    aspectRatio: "1x1",
    format: "webp"
  })
  return {
    ...imageAttrs
  }
}))
---
<section class="container container-margin py-2">
  <div class="grid grid-cols-3 gap-2">
    <img class="object-cover rounded-2xl shadow row-span-2 size-full" src={imagesAttrs[0].src} alt={imagesAttrs[0].src} />
    <img class="object-cover rounded-2xl shadow size-full" src={imagesAttrs[1].src} alt={imagesAttrs[1].src} />
    <img class="object-cover rounded-2xl shadow row-span-2 size-full" src={imagesAttrs[2].src} alt={imagesAttrs[2].src} />
    <img class="object-cover rounded-2xl shadow size-full" src={imagesAttrs[3].src} alt={imagesAttrs[3].src} />
  </div>
</section>
