---
import { Phone, Mail } from "lucide-react";
import { PrimaryLabel } from "@/components/patterns/label";
import type { TeamSectionProps as Props } from "@/content/static";
const { label, title, description } = Astro.props

import { getCollection } from "astro:content";
import { getImage } from "astro:assets";
const teamCollection = await getCollection("team")
const teamWithImages = await Promise.all(
  teamCollection.map(async (member) => {
    const imageAttrs = await getImage({
      src: member.data.image,
      alt: `${member.data.name} ${member.data.surname}`,
      width: 600,
      height: 600,
      aspectRatio: '16:9',
      format: 'webp',
    });
    return {
      ...member,
      images: {
        listing: imageAttrs
      }
    }
  })
);
---
<section class="container container-padding container-margin p-4">
  <div class="text-center flex flex-col items-center gap-4 mx-auto md:w-xl">
    <PrimaryLabel {...label} />
    <h2 class="header-medium"
    >{title}</h2>
    <p>{description}</p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 pt-8">
    {teamWithImages.map((member) => (
    <article class="bg-slate-50 flex flex-col gap-4 items-center p-8 md:p-16 rounded-2xl shadow">
      <img class="w-32 h-32 object-cover rounded-full" src={member.images.listing.src} {...member.images.listing.attributes} />
      <h3 class="header-xsmall">{member.data.name} {member.data.surname}</h3>
      <p class="">{member.data.position}</p>
      <div class="flex gap-2">
        {member.data.email && (
          <a href=`mailto:${member.data.email}` class="w-12 h-12 bg-slate-800 rounded-full flex items-center justify-center text-slate-50">
            <Mail className="w-5 h-5" />
          </a>
        )}
        {member.data.phone && (
          <a href=`tel:${member.data.phone}` class="w-12 h-12 bg-slate-800 rounded-full flex items-center justify-center text-slate-50">
            <Phone className="w-5 h-5" />
          </a>
        )}
      </div>
    </article>


    ))}
  </div>
</section>
